.home{
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
    margin: 1rem 0 2rem;
}
.home-text h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    margin: 1rem 0 2rem;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--text-color);
}